$appname: #6C7A89;
$theme: #48596C;
$blue: rgba(41,128,185,.4);
$red: rgba(231,76,60,.4);
$green: rgba(46,204,113,.4);
$dark-red: rgba(192,57,43,.4);
$button: rgba(41,128,185,.6);
$background-blue: #48596C;
