@import "colors";
*{
  font-family:$font-stack;
  font-weight: 400;
  color: $theme;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
}

.appname {
  font-weight: 300;
  font-size: 40px;
  padding-left: 3px;
  color: $appname;
}

.ideas {
  margin-top: 20px;
}

.idea {
  width:90%;
  height:auto;
  margin: 8px;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: $theme;
  display:block;
  float:left;
  .delete-idea {
    margin-left: -4px;
    margin-top: -4px;
    margin-right: 10px;
    padding: 0 5px 5px 5px;
    font-size: 15px;
  }
  .title {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 600;
    word-wrap: break-word;
  }
  .edit-title {
    font-size: 15px;
    font-weight: 600;
    border: none;
  }
  .body {
    word-wrap: break-word;
  }
  .edit-body {
    resize:vertical;
  }
  .quality {
    cursor: default;
    font-size: 12px;
    margin-left: 5px;
  }
  .upvote-div {
    font-size: 18px;
    font-weight: 800;
    margin-left: 5px;
  }
  .downvote-div {
    font-size: 30px;
    padding-right: 0;
    margin: 10;
  }
}

.idea-forms {
  .idea-create {
    margin: 5px;
    .idea-title {
      margin: 5px;
    }
    .idea-body {
      margin: 5px;
      resize:vertical;
    }
    .idea-button {
      background-color: $button;
      border: none;
      margin: 5px;
      margin-top: 0;
      &:focus {
        outline: 0;
      }
    }
    .filter-button {
      width:70px;
    }
  }
}

.pointer {
  cursor: pointer;
}

.light {
  font-weight: 300;
}

.extra-bold {
  font-weight: 800;
}

.float-right {
  float: right;
}
